<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8" />
      <title>Learning Vue 5</title>
</head>

<body>
      <div id="app">
            <h1>{{ fullName }}</h1>
            <input type="text" v-model="first" placeholder="First Name">
            <input type="text" v-model="last" placeholder="Last Name">
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script>
            new Vue({
                  el: '#app',
                  data: {
                        first: 'Lem',
                        last: 'Adane'
                  },
                  computed: {
                        fullName: function () {
                              return this.first + ' ' + this.last
                        }
                  }
            })
      </script>
</body>

</html>